@media screen and (max-width: 992px) {
  .home {
    padding: 10px 0px 50px;
  }
}

@media screen and (max-width: 768px) {
  .header {
    height: 80px;

    &__logo {
      width: 90px;
      margin-left: 0;
    }
  }

  .wrapper {
    padding-top: 90px;
  }

  .signature {
    // flex-wrap: wrap;

    &__block {
      flex-basis: 100%;
      margin-bottom: 10px;
    }

    &__qrcode {
      margin-left: 0;
    }
  }

  .document__container {
    padding: 20px 30px;
  }
}