.wrapper {
  background: #00A1CF;
  padding: 120px 0 20px;
}

.header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  height: 100px;
  padding: 10px;
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.75);
  background: #ffffff;
  z-index: 100;
  .container {
    position: relative;
  }

  &__logo {
    display: block;
    width: 120px;
    padding: 10px;
    margin: 0 auto;

    img {
      width: 100%;
    }
  }

  &__lang {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
  }

  &__link {
    display: inline-block;
    margin-right: 8px;
    padding: 0 16px;
    border-radius: 20px;
    font-size: 18px;
    line-height: 27px;
    color: #000000;
    transition: 0.3s ease;

    &:hover,
    &.active {
      background: #007cb9;
      color: #ffffff;
      text-decoration: none;
    }
  }
}

.home {
  margin: 0 auto;
  background: #ffffff;
  padding: 10px 100px 50px;
  min-height: calc(100vh - 100px);

  .title {
    margin-top: 20px;
    font-size: 30px;
    text-transform: capitalize;
  }
}

.document__container {
  padding: 40px 50px;
}

.document {
  box-sizing: border-box;
  line-height: 1.42;
  height: 100%;
  outline: 0;
  overflow-y: auto;
  tab-size: 4;
  text-align: left;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.signature {
  display: flex;
  justify-content: space-around;

  &__qrcode {
    width: 100%;
    text-align: center;
    margin-left: 28px;
  }

  &__block {
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    max-width: 33%;
    position: relative;

    h3 {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
      &.small {
        font-size: 1.5rem;
      }
      &.middle {
        font-size: 1.25rem;
      }
      &.big {
        font-size: 1rem;
      }
      span {
        margin-bottom: 10px;
      }
    }

    canvas {
      position: absolute;
      bottom: 0;
    }
  }
}

.ql-align-center {
  text-align: center;
}

p {
  margin-bottom: 0;
  font-size: 16px;
}

@import "media"